

.lt_category_left {
  width: 90px;
  height: 100%;
  position: relative;
  float: left;
}
.lt_category_left li {
  list-style: none;
}
.lt_category_right {
  float: right;
}
.lt_category_left li {
  width: 90px;
  height: 50px;
  background-color: #E3E4E5;
  text-align: center;
  line-height: 50px;
}
.lt_category_left li a {
  width: 100%;
  height: 100%;
  display: inline-block;
  border: 1px solid #cccccc;
  color: #838383;
}
.lt_category_left li a.current {
  background-color: #fff;
  border-right:none;
}
.lt_category_right {
  width: 550px;
  overflow: hidden;
  height: 100%;
  position: relative;
}
.lt_category_right li {
  float: left;
  width: 33.3%;
}
.lt_category_right li a {
  display: block;
}
.lt_category_right li a img{
  width: 70px;
  height: 50px;
  display: block;
  margin: 0 auto;
}
.lt_category_right li a p{
  text-align: center;
}